ollama
tiktoken==0.8.0
semchunk==2.2.0
qdrant_client==1.12.1
pymongo==4.10.1
youtube_transcript_api==0.6.3
bs4==0.0.2
validators==0.34.0
selenium==4.27.1
pandas==2.2.3
zenml[server]==0.70.0
notebook
pyarrow
datasets
transformers
transformers[torch]
torch
sentencepiece
protobuf
sentence-transformers